# Prettier covers Markdown/JSON/YAML; Elixir/HEEx is mix format's job.
# LICENSE is legal text, not reformatted like ordinary prose/markdown.
LICENSE
_build/
deps/
node_modules/
assets/vendor/
assets/js/
assets/css/
priv/static/
priv/gettext/
priv/plts/
docs/deploy/
tooling/commitlint/package-lock.json
scripts/package-lock.json
uploads/
